* {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.caseProp {
    display: inline-block;
    width: 33.33%;
    height: 100%;
}
.menu {
    position: relative;
    width: 80vw;
    height: 80vh;
    border: 10px darkgrey solid;
}
.ligne {
    display: block;
    width: 60%;
    height: 33.33%;
}
.margeNega {
    margin-right: -3px;
    text-align: center;
}
.case1 {
    display: inline-block;
    width: 67%;
    height: 100%;
    background-color: darkseagreen;
    margin-right: -4px;
}
.case1 .case li{
    display: inline-block;
    width: 80px;
    height: 20px;
    border: 2px solid white;
    margin: 2% 8px;
    text-align: center;
}
.case1 .titre {
    font-size: 20px;
    margin: 20px;
}
.case1 .text {
    margin-left: 20px;
}
.case2 {
    background-color: #ff9e00;
    vertical-align: top;
}
.case3 {
    background-color: #1e8bc4;
}
.case4 {
    background-color: #f15a49;
}
.case5 {
    background-color: #35bc7a;
}
.case6 {
    background-color: #f86925;
}
.case7 {
    background-color: #1e8bc4;
}
.case8 {
    background-color: #f86925;
}
.textIcone {
    padding-top: 30%;
    font-size: 40px;
}
img {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
}
.textIcone p{
    font-size: 12px;
}


@media screen and (max-width: 600px){

    img {
        visibility: hidden;
    }
    .ligne {
        width: 100%;
    }
    .menu {
        width: 100vw;
        height: 100vh;
        border: 0;
    }
}

@media screen and (max-width: 370px) {
    .case1 .case li{
       visibility: hidden;
    }
}

